
body{
    background-color: pink;
}
.App {
    text-align: center;
    background-color: pink;
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px;
  }
   
  .label{
    display: block;
    font-size: larger;
    color: black;
    padding: 10px;
  }
   
  .input{
    font-size: larger;
    padding: 5px;
    margin: 2px;
  }
  
  .btn{
    color: white;
    background-color: #B76E79;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 10px auto;
  }
   
  .messages{
    display: flex;
    justify-content: center;
  }
   
  .error{
    display: block;
    background-color: red;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
  }
   
  .success{
    display: block;
    background-color: lightblue;
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
  }

 #h1registration {
   color: black;
   font-size: 70px;
 }